/* ---- BASIC SETUP ----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f4f4f4;
    color: #2b2f2a;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*------------------------*/
/* REUSABLE COMPONENTS */
/*--------------------- */

section { padding: 80px 0 80px 0; }

a {text-decoration: none}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h2 {font-weight: 300;}

h3 {font-weight: 200;}


/* ---- HEADER ---- */

header {
    background-image: url(../img/header.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.page-title {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    text-align: center;
    width: 100%;
    height: auto;
    top: 37%;
    position: absolute;
}

h1 {
    display: inline;
    font-weight: 100;
    color: #d7eabe;
    font-size: 400%;
    
}

.add1,
.add2 {
    width: 50px;
    height: auto;
    
}

.page-title ul {
    font-size: 110%;
    margin-bottom: 20px;
}

.page-title ul li {display: inline-block;}

.page-title a {
    padding: 15px 15px 0;
    color: #99a787;
    border: transparent;
    
}

.page-title a:hover {
    color: #d7eabe;
    transition: 0.5s;
    border-bottom: 1px solid;
    border-color: #d7eabe;
}


/* ---- ABOUT US ---- */

.section-about {
    top: 0;
    padding-top: 1px;
    background: #ffffff;
    height: auto;
}

.section-about h2, h3 { text-align: center; }

.section-about h2 { margin-top: 5%; }

.section-about h3 { margin-top: 10px; }

.section-about hr {
    margin: 10px auto 0 auto;
    width: 50%;
    height: 1px;
}

.about-box {  
    margin-top: 7%;
}

.quote {
    width: 80%;
    margin: 20px 0 0 auto;
    text-align: center;
    font-size: 100%;
}

.about {
    width: 55%;
    margin: 10px 0 0 auto;
    text-align: justify;
}

.section-about img {
    width: 42%;
    height: auto;
    float: left;
    display: inline;
}


/* ---- WHAT WE DO ---- */

.section-do {
    background-color: #ebf4bc;
    
}

.do-box1,
.do-box2 {
    text-align: center;
    display: inline-block;
    width: 20%;
}

.do-box2 { margin: 2%; }

.do-box1 { margin: 2% 2% 2% 16%; }

.do-row { margin: 0 auto; }






/* ---- GALLERY ---- 

.section-gallery {
    height: 100vh;
    background: linear-gradient(rgba(9, 11, 6, 0.9), rgba(9, 11, 6, 0.9)),url(../img/creation.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-gallery h2 {
    color: #d7eabe;
    text-align: center;
    font-size: 150%;
    font-weight: 300;
}

.creation-p {
    color: #d7eabe;
    width: 20%;
    height: auto;
    display: inline;
    float: left;
    margin-top: 5%;
    margin-left: 9%;
}

.creation-p img {
    width: 110%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

.section-gallery hr {
    margin: 10px auto 0 auto;
    width: 50%;
    height: 1px;
}

*/
